* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.calculator {
    width: 400px;
    background-color: black;
}

.display {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: right;
    padding: 20px 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}

.button-row {
    display: contents;
}

.button {
    position: relative;
    padding: 0;
    border: none;
    background-color: #d8d9db;
    cursor: pointer;
}

.button:hover {
    background-color: #ebebeb;
}

.button::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.button span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.double {
    grid-column: span 2;
}

.double::before {
    padding-bottom: 0;
}

.triple {
    grid-column: span 3;
}

.triple::before {
    padding-bottom: 0;
}

.button-row button:last-child {
    background-color: #df974c;
    color: white;
}

.button-row button:last-child:hover {
    background-color: #dfb07e;
}
