* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.calculator {
    width: 400px;
    background-color: black;
}

.display-text {
    font-family: 'Roboto Mono', monospace;
    text-align: right;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
}

.button-row {
    display: contents;
}

.button {
    padding-bottom: 100%;
}

.span-2 {
    grid-column: span 2;
    padding-bottom: 0;
}

.span-3 {
    grid-column: span 3;
    padding-bottom: 0;
}
